@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
    font-size: 15px;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @font-face {
    font-family: BarlowMedium, sans-serif;
    src: url(./assets/BarlowSemiCondensed-Medium.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: BarlowSemiBold, sans-serif;
    src: url(./assets/BarlowSemiCondensed-SemiBold.ttf);
    font-weight: 600;
  }

  :root {
    /* primary colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --darkBlue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* font family */
    --ff-main: BarlowMedium;
    --ff-headings: BarlowSemiBold;

    /* font sizes */
    --fs-main: 0.81rem; /* 13px */
    --fs-h1: 1rem; /* 16px */
    --fs-h2: 1.125rem; /* 18px */
  }
}
